In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
# own function
def adder(adder1,adder2): #{
   return adder1+adder2
#}

In [3]:
#Create a Dictionary of series
d = {'Score_Math':pd.Series([66,57,75,44,31,67,85,33,42,62,51,47]),
   'Score_Science':pd.Series([89,87,67,55,47,72,76,79,44,92,93,69])}

In [4]:
df = pd.DataFrame(d)
print(df)
print(df.pipe(adder,2))

    Score_Math  Score_Science
0           66             89
1           57             87
2           75             67
3           44             55
4           31             47
5           67             72
6           85             76
7           33             79
8           42             44
9           62             92
10          51             93
11          47             69
    Score_Math  Score_Science
0           68             91
1           59             89
2           77             69
3           46             57
4           33             49
5           69             74
6           87             78
7           35             81
8           44             46
9           64             94
10          53             95
11          49             71

In [5]:
date_list = [{'yyyy-mm-dd': '2000-6-27'},
            {'yyyy-mm-dd': '2002-09-23'},
            {'yyyy-mm-dd': '2005-12-20'}]
df = pd.DataFrame(date_list, columns=['yyyy-mm-dd'])
df

   yyyy-mm-dd
0   2000-6-27
1  2002-09-23
2  2005-12-20

In [6]:
# function attempt
def extract_year(column): #{
    return column.split('-')[0]
#}

In [7]:
# CREATE NEW COLUMN oN DATAFRAME 'df' WITH NAME 'year'
df['year'] = df['yyyy-mm-dd'].apply(extract_year)

In [9]:
df

   yyyy-mm-dd  year
0   2000-6-27  2000
1  2002-09-23  2002
2  2005-12-20  2005

In [12]:
def get_age(year, current_year): #{
    return current_year - int(year)
#}

In [13]:
df['age'] = df['year'].apply(get_age, current_year=2018)

In [14]:
df

   yyyy-mm-dd  year  age
0   2000-6-27  2000   18
1  2002-09-23  2002   16
2  2005-12-20  2005   13

### *TEST-FUNCTIONS*

In [ ]:
def test_func(column): #{
    
#}