In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
date_rng = pd.date_range(start='1/1/2018', end='1/08/2018', freq='H')

In [3]:
date_rng

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-01-07 15:00:00', '2018-01-07 16:00:00',
               '2018-01-07 17:00:00', '2018-01-07 18:00:00',
               '2018-01-07 19:00:00', '2018-01-07 20:00:00',
               '2018-01-07 21:00:00', '2018-01-07 22:00:00',
               '2018-01-07 23:00:00', '2018-01-08 00:00:00'],
              dtype='datetime64[ns]', length=169, freq='H')

In [4]:
type(date_rng[0])

pandas._libs.tslibs.timestamps.Timestamp

Let's create an example data frame with the timestamp data and look at the first 15 elements:

In [5]:
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100,size=(len(date_rng)))

In [6]:
df.head(15)

                  date  data
0  2018-01-01 00:00:00    58
1  2018-01-01 01:00:00    53
2  2018-01-01 02:00:00    19
3  2018-01-01 03:00:00     4
4  2018-01-01 04:00:00    55
5  2018-01-01 05:00:00    73
6  2018-01-01 06:00:00    75
7  2018-01-01 07:00:00    99
8  2018-01-01 08:00:00    29
9  2018-01-01 09:00:00    30
10 2018-01-01 10:00:00    38
11 2018-01-01 11:00:00    91
12 2018-01-01 12:00:00    26
13 2018-01-01 13:00:00    82
14 2018-01-01 14:00:00    42

CONVERT THE DATA FRAME INDEX TO A A DATETIME INDEX THAT SHOW THE FIRST ELEMENTS

In [8]:
df['datetime'] = pd.to_datetime(df['date'])
df = df.set_index('datetime')
df.drop(['date'], axis=1, inplace=True)
df.head()

                     data
datetime
2018-01-01 00:00:00    58
2018-01-01 01:00:00    53
2018-01-01 02:00:00    19
2018-01-01 03:00:00     4
2018-01-01 04:00:00    55

In [9]:
#import datetime
from datetime import datetime, timedelta

In [11]:
# get current time
now = datetime.now()
print("Today's date: ", str(now))

Today's date:  2020-02-21 13:53:34.334899

In [12]:
# add 15 days to current date
future_date_after_15days = now + timedelta(days = 15)
print("date after 15 day: ", future_date_after_15days)

date after 15 day:  2020-03-07 13:53:34.334899

In [13]:
# subtract 2 weeks from current date
two_weeks_ago = now - timedelta(weeks = 2)
print('Date two weeks ago: ', two_weeks_ago)
print('two_weeks_ago object type: ', type(two_weeks_ago))

Date two weeks ago:  2020-02-07 13:53:34.334899
two_weeks_ago object type:  <class 'datetime.datetime'>

In [14]:
import pandas as pd

In [15]:
# create date object using to_datetime() function
date = pd.to_datetime("8th of sep, 2019")
print(date)

2019-09-08 00:00:00