In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [8]:
df = pd.DataFrame({'AAA': [4, 5, 6, 7],
                  'BBB': [10, 20, 30, 40],
                  'CCC': [100, 50, -30, -50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [4]:
df.loc[df.AAA >= 5, 'BBB'] = -1
df

   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   -1  -50

In [7]:
df.loc[df.AAA >=5, ['BBB', 'CCC']] = 555
df

   AAA  BBB  CCC
0    4   10  100
1    5  555  555
2    6  555  555
3    7  555  555

In [11]:
df.loc[df.AAA < 5, ['BBB', 'CCC']] = 2000
df

   AAA   BBB   CCC
0    4  2000  2000
1    5    20    50
2    6    30   -30
3    7    40   -50

Or use pandas where after you've set up a mask.

In [12]:
df_mask = pd.DataFrame({'AAA': [True] * 4,
                       'BBB': [False] * 4,
                       'CCC': [True, False] * 2})
df.where(df_mask, -1000)

   AAA   BBB   CCC
0    4 -1000  2000
1    5 -1000 -1000
2    6 -1000   -30
3    7 -1000 -1000