In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
df_daily_levels = pd.read_csv("df_daily_levels_2020_02_25.csv", parse_dates=['QCDate'], index_col =None)
df_daily_levels

       QCDate  QCValidation  Count
0  2020-01-15           1.0     18
1  2020-01-15           2.0      1
2  2020-01-16           1.0     28
3  2020-01-16           2.0      1
4  2020-01-17           1.0     16
5  2020-01-17           2.0      1
6  2020-01-21           1.0     29
7  2020-01-21           2.0      2
8  2020-01-22           1.0     43
9  2020-01-23           1.0     18
10 2020-01-23           2.0      1
11 2020-01-24           1.0     23
12 2020-01-24           2.0      1
13 2020-01-25           1.0      3
14 2020-01-27           1.0     35
15 2020-01-28           1.0     14
16 2020-01-29           1.0     24
17 2020-01-30           1.0     21
18 2020-01-30           2.0      1
19 2020-01-31           1.0      8
20 2020-02-03           1.0     10
21 2020-02-03           2.0      1
22 2020-02-03           3.0      2
23 2020-02-04           1.0     33
24 2020-02-05           1.0     23
25 2020-02-05           3.0      1
26 2020-02-06           1.0     41
27 2020-02-06           3.0      1
28 2020-02-07           1.0     29
29 2020-02-07           2.0      3
30 2020-02-08           1.0      2
31 2020-02-10           1.0     47
32 2020-02-11           1.0     41
33 2020-02-12           1.0     25
34 2020-02-13           1.0     33
35 2020-02-13           3.0      1
36 2020-02-14           1.0      4

In [5]:
df_daily_levels.index

RangeIndex(start=0, stop=37, step=1)

In [4]:
df_daily_levels.set_index(['QCDate', 'QCValidation'], drop=False)

                            QCDate  QCValidation  Count
QCDate     QCValidation
2020-01-15 1.0          2020-01-15           1.0     18
           2.0          2020-01-15           2.0      1
2020-01-16 1.0          2020-01-16           1.0     28
           2.0          2020-01-16           2.0      1
2020-01-17 1.0          2020-01-17           1.0     16
           2.0          2020-01-17           2.0      1
2020-01-21 1.0          2020-01-21           1.0     29
           2.0          2020-01-21           2.0      2
2020-01-22 1.0          2020-01-22           1.0     43
2020-01-23 1.0          2020-01-23           1.0     18
           2.0          2020-01-23           2.0      1
2020-01-24 1.0          2020-01-24           1.0     23
           2.0          2020-01-24           2.0      1
2020-01-25 1.0          2020-01-25           1.0      3
2020-01-27 1.0          2020-01-27           1.0     35
2020-01-28 1.0          2020-01-28           1.0     14
2020-01-29 1.0          2020-01-29           1.0     24
2020-01-30 1.0          2020-01-30           1.0     21
           2.0          2020-01-30           2.0      1
2020-01-31 1.0          2020-01-31           1.0      8
2020-02-03 1.0          2020-02-03           1.0     10
           2.0          2020-02-03           2.0      1
           3.0          2020-02-03           3.0      2
2020-02-04 1.0          2020-02-04           1.0     33
2020-02-05 1.0          2020-02-05           1.0     23
           3.0          2020-02-05           3.0      1
2020-02-06 1.0          2020-02-06           1.0     41
           3.0          2020-02-06           3.0      1
2020-02-07 1.0          2020-02-07           1.0     29
           2.0          2020-02-07           2.0      3
2020-02-08 1.0          2020-02-08           1.0      2
2020-02-10 1.0          2020-02-10           1.0     47
2020-02-11 1.0          2020-02-11           1.0     41
2020-02-12 1.0          2020-02-12           1.0     25
2020-02-13 1.0          2020-02-13           1.0     33
           3.0          2020-02-13           3.0      1
2020-02-14 1.0          2020-02-14           1.0      4