In [1]:
import pandas as pd
df = pd.read_excel("temperature.xlsx", parse_dates = ['date'])

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
date           5 non-null datetime64[ns]
temperature    5 non-null int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 208.0 bytes

In [3]:
##function that extracts year and month to create columns in dataframe
def extract_date(df, column): # {
    '''INPUT: df takes dataframe and column takes string'''
    df[column+"_year"] = df[column].apply(lambda x: x.year)
    df[column+"_month"] = df[column].apply(lambda x: x.month)
# }

In [4]:
extract_date(df, 'date')

In [5]:
df.head()

        date  temperature  date_year  date_month
0 2018-05-01           67       2018           5
1 2018-05-02           70       2018           5
2 2018-05-03           60       2018           5
3 2018-05-06           90       2018           5
4 2018-05-07           95       2018           5

In the code below, I set the date aws the index and calulcated monthly mean temperature for our data

In [6]:
df.set_index('date', inplace=True) # set date as the index
df.resample('M').sum() # monthly mean

            temperature  date_year  date_month
date
2018-05-31          382      10090          25

### Fill in missing data

In [8]:
df.head()

            temperature  date_year  date_month
date
2018-05-01           67       2018           5
2018-05-02           70       2018           5
2018-05-03           60       2018           5
2018-05-06           90       2018           5
2018-05-07           95       2018           5

In [10]:
# fill the data which the last known value
df.resample("D").ffill().head(10)

            temperature  date_year  date_month
date
2018-05-01           67       2018           5
2018-05-02           70       2018           5
2018-05-03           60       2018           5
2018-05-04           60       2018           5
2018-05-05           60       2018           5
2018-05-06           90       2018           5
2018-05-07           95       2018           5