In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

**IMPORT .CSV FOR TESTING**

In [2]:
inDirectory = "C:/Temp/"

In [3]:
inFile = "Quotes.csv"

In [4]:
inboundDataFrame = pd.read_csv(inDirectory + str(inFile), low_memory=False)

In [5]:
len(inboundDataFrame)

127639

In [6]:
inboundDataFrame.head(5)

,QuoteID,QuoteDate,Quote#,Product#,Quantity,ContainerQty,ContainerQtyUnit,Container,SaleUnit,Volume,...,Email,Notes,Ordered,OrderDate,Built,FullValidation,Validation,MaxQuant,IsVoided,DateInserted
0,1,2002-08-09 00:00:00,080902-01,QTE-0001,2.0,NaN,NaN,NaN,5 mL in 5 mL Flame-Sealed Amber Ampule(s),100.0,...,NaN,Stock for Production Use,False,NaN,False,False,NaN,2.0,NaN,NaN
1,2,2002-08-12 00:00:00,081202-02,QTE-0002,5.0,NaN,NaN,NaN,1 mL in 2 mL Flame-Sealed Amber Ampule(s),50.0,...,envispecialties@aol.com,NaN,False,NaN,False,False,NaN,NaN,NaN,NaN
2,3,2002-08-12 00:00:00,081202-03,QTE-0003,4.0,NaN,NaN,NaN,1 mL in 2 mL Flame-Sealed Amber Ampule(s),100.0,...,tracy_white@vwr.com,NaN,False,NaN,False,False,NaN,NaN,NaN,NaN
3,4,2002-08-12 00:00:00,081202-04,QTE-0004,2.0,NaN,NaN,NaN,50 mL Amber Bottle(s) fitted with polyseal cap,200.0,...,NaN,NaN,False,NaN,False,False,NaN,NaN,NaN,NaN
4,6,2002-08-12 00:00:00,081202-06,QTE-0005,2.0,NaN,NaN,NaN,50 mL Amber Bottle(s) fitted with polyseal cap,200.0,...,NaN,NaN,False,NaN,False,False,NaN,NaN,NaN,NaN

In [12]:
inboundDataFrame.describe()

,QuoteID,Quantity,ContainerQty,ContainerQtyUnit,Volume,AdditionalCost,AdditionalQCCost,AdditionalISO34Cost,GravCost,GravPrice,FullCost,FullPrice,ISO34Cost,ISO34Price,Validation,MaxQuant
count,127639.000000,127556.000000,104000.0,0.0,1.276350e+05,1.269230e+05,127234.000000,76034.000000,1.243920e+05,1.244700e+05,1.222410e+05,1.975400e+04,7.276800e+04,9624.000000,74159.0,105653.000000
mean,64803.707315,23.146328,0.0,NaN,1.669053e+03,-2.274304e+02,41.383357,37.371571,8.428171e+01,7.561163e+02,2.066412e+02,8.684066e+02,2.947065e+02,475.073254,0.0,24.821576
std,37782.654506,2805.618581,0.0,NaN,1.111196e+05,1.965882e+04,1067.210246,564.685672,1.586132e+04,2.201973e+04,3.199615e+04,1.187644e+04,3.909088e+04,5119.912531,0.0,3085.524076
min,1.000000,0.000000,0.0,NaN,0.000000e+00,-4.058395e+06,-35039.000000,-14553.000000,-3.063338e+06,-3.119990e+05,-6.126638e+06,-4.213010e+05,-6.126638e+06,-10749.000000,0.0,0.000000
25%,32136.500000,1.000000,0.0,NaN,5.000000e+01,0.000000e+00,0.000000,0.000000,6.095793e+01,8.800000e+01,1.613493e+02,0.000000e+00,1.870958e+02,0.000000,0.0,1.000000
50%,64132.000000,2.000000,0.0,NaN,5.000000e+01,2.400000e+01,0.000000,0.000000,1.294844e+02,1.900000e+02,2.978677e+02,1.960000e+02,4.020717e+02,0.000000,0.0,4.000000
75%,98366.500000,5.000000,0.0,NaN,1.000000e+02,1.330000e+02,0.000000,0.000000,2.610845e+02,4.000000e+02,5.562278e+02,4.430000e+02,7.124094e+02,345.000000,0.0,5.000000
max,130488.000000,1000000.000000,0.0,NaN,2.016000e+07,5.466960e+05,183188.000000,63519.000000,1.312058e+06,5.353029e+06,2.624152e+06,1.105495e+06,2.624152e+06,442861.000000,0.0,1000000.000000

# [STACK OVERFLOW LINK](https://stackoverflow.com/questions/44760221/pyodbc-connect-works-but-not-sqlalchemy-create-engine-connect)

---

# Microsoft SQL Server

The SQL Server dialect uses pyodbc as the default DBAPI. pymssql is also available:

### pyodbc
`engine = create_engine('mssql+pyodbc://scott:tiger@mydsn')`

### pymssql
`engine = create_engine('mssql+pymssql://scott:tiger@hostname:port/dbname')`

---
## More notes on connecting to SQL Server at:

## [Microsoft SQL Server](https://docs.sqlalchemy.org/en/13/dialects/mssql.html)
---

Support for the Microsoft SQL Server database via the PyODBC driver.

# DBAPI

Documentation and download information (if applicable) for PyODBC is available at: 

## [PyODBC](http://pypi.python.org/pypi/pyodbc/)
---

# `CONNECTING`

Connect String:

### `mssql+pyodbc://<username>:<password>@<dsnname>`

## Connecting to PyODBC

#### The URL here is to be translated to PyODBC connection strings, as detailed in 
[connection strings](https://code.google.com/p/pyodbc/wiki/ConnectionStrings)

**DSN Connections**

A DSN-based connection is **preferred** overall when using ODBC. A basic DSN-based connection looks like:

`engine=create_engine("mssql+pyodbc://scott:tiger@some_dsn")`

Which above, will pass the following connection string to PyODBC:

`dsn=mydsn;UID=user;PWD=pass`

If the username and password are omitted, the DSN form will also add the `Trusted_Connection=yes` directive to the ODBC string.

**Hostname Connections**

Hostname-based connections are **not preferred**, however are supported. The ODBC driver name must be explicitly specified:

*engine = create_engine("mssql+pyodbc://scott:tiger@myhost:port/databasename?driver=SQL+Server+Native+Client+10.0")*

In [7]:
# import the goodies
import pyodbc
import wx
import os, sys, time
import shutil

In [8]:
from sqlalchemy import create_engine

In [9]:
from sqlalchemy.inspection import inspect

In [10]:
import urllib

# create conn_str

conn_str = (
    r'Driver=ODBC Driver 13 for SQL Server;'
    r'Server=130.27.148.14\SQLEXPRESS,1433;'
    r'Database=ProdFlowII_Dev;'
    r'Trusted_Connection=yes;'
)

# The connection strings for all these drivers

# The connection strings for all these drivers
cnxn = pyodbc.connect(
    r'DRIVER={ODBC Driver 13 for SQL Server};'
    r'SERVER=130.27.148.14\SQLEXPRESS,1433;'
    r'DATABASE=ProdFlowII_Dev;'
    r'UID=dbates;'
    r'PWD=@hisB00ty')

try: #{
    cnxn = pyodbc.connect(conn_str)
#}
except: #{
    errorMessage = str(sys.exc_info()[0]) + "\n"
    errorMessage = errorMessage + str(sys.exc_info()[1]) + "\n\t\t"
    errorMessage = errorMessage + str(sys.exc_info()[2]) + "\n"
    exc_type, exc_obj, exc_tb = sys.exc_info()
    fname = os.path.split(exc_tb.tb_frame.f_code.co_filename)[1]
    typeE = str("TYPE : " + str(exc_type))
    fileE = str("FILE : " + str(fname))
    lineE = str("LINE : " + str(exc_tb.tb_lineno))
    messageE = str("MESG : " + "\n\n" + str(errorMessage) + "\n")
    print("\n" + typeE + 
          "\n" + fileE + 
          "\n" + lineE + 
          "\n" + messageE)
#}
else: #{
    print("FIN...")
#}

### Pass through exact Pyodbc string
---

###  A *PyODBC* connection string can also be sent exactly as specified in ConnectionStrings into the driver using the parameter `odbc_connect`. 


### The delimeters must be URL escaped, however, as illustrated below using `urllib.parse.quote_plus`:

params = urllib.parse.quote_plus("DRIVER={SQL Server Native Client 10.0};SERVER=dagger;DATABASE=test;UID=user;PWD=password")

engine = create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)

In [11]:
try: #{
    params = urllib.parse.quote_plus("DRIVER={ODBC Driver 13 for SQL Server};SERVER=130.27.148.14\SQLEXPRESS,1433;DATABASE=ProdFlowII_Dev;UID=dbates;PWD=@hisB00ty")
    engine = create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)
#}
except: #{
    errorMessage = str(sys.exc_info()[0]) + "\n"
    errorMessage = errorMessage + str(sys.exc_info()[1]) + "\n\t\t"
    errorMessage = errorMessage + str(sys.exc_info()[2]) + "\n"
    exc_type, exc_obj, exc_tb = sys.exc_info()
    fname = os.path.split(exc_tb.tb_frame.f_code.co_filename)[1]
    typeE = str("TYPE : " + str(exc_type))
    fileE = str("FILE : " + str(fname))
    lineE = str("LINE : " + str(exc_tb.tb_lineno))
    messageE = str("MESG : " + "\n\n" + str(errorMessage) + "\n")
    print("\n" + typeE + 
          "\n" + fileE + 
          "\n" + lineE + 
          "\n" + messageE)
#}
else: #{
    print("FIN...")
#}

FIN...

# Driver / Unicode Support

PyODBC works best with Microsoft ODBC drivers, particularly in the area of Unicode support on both Python 2 and Python 3.

Using the FreeTDS ODBC drivers on Linux or OSX with PyODBC is **not** recommended; there have been historically many Unicode-related issues in this area, including before Microsoft offered ODBC drivers for Linux and OSX. Now that Microsoft offers drivers for all platforms, for PyODBC support these are recommended. FreeTDS remains relevant for non-ODBC drivers such as pymssql where it works very well.

# `Working with CONNECTIONS`

In [13]:
connection = engine.connect()

In [14]:
try: #{
    inboundDataFrame.to_sql("Quotes", con=engine, if_exists='replace',
                            index=False, chunksize=2500)
#}
except: #{
    errorMessage = str(sys.exc_info()[0]) + "\n"
    errorMessage = errorMessage + str(sys.exc_info()[1]) + "\n\t\t"
    errorMessage = errorMessage + str(sys.exc_info()[2]) + "\n"
    exc_type, exc_obj, exc_tb = sys.exc_info()
    fname = os.path.split(exc_tb.tb_frame.f_code.co_filename)[1]
    typeE = str("TYPE : " + str(exc_type))
    fileE = str("FILE : " + str(fname))
    lineE = str("LINE : " + str(exc_tb.tb_lineno))
    messageE = str("MESG : " + "\n\n" + str(errorMessage) + "\n")
    print("\n" + typeE + 
          "\n" + fileE + 
          "\n" + lineE + 
          "\n" + messageE)
#}
else: #{
    print("FIN...")
#}

FIN...

In [15]:
connection.close()