# `SQL_EXPRESSS ODBC_select`
*(data >> SQL_EXPRESS)*

---

## `PANDAS DataFrame` using `conn.execute()`
## of `pyodbc` insert into `SQL_EXPRESS`

---

In [1]:
# import the goodies
import os, sys, time

In [2]:
# import DATE-TIME
## used for file-cconvention_naming
import datetime

In [3]:
# CREATE TIME STAMP FOR FILE CREATION NAME
date_object = datetime.date.today()
time_object = str('{0:%m_%d_%Y-%H%M%S}'.format(datetime.datetime.now()))
print(str("file naming convention (today's example) :"), time_object)

file naming convention (today's example) : 05_23_2019-154221

In [4]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [5]:
import pyodbc

In [6]:
from sqlalchemy.inspection import inspect

---

**IMPORT .CSV FOR TESTING**

In [7]:
inDirectory = "C:/Temp/"

In [8]:
inFile = "Matrices.csv"

In [9]:
inboundDataFrame = pd.read_csv(inDirectory + str(inFile))

In [10]:
len(inboundDataFrame)

667

In [11]:
inboundDataFrame.head(15)

   MatrixNumber                                           Matrix Density
0       JHP-001                                          acetone   0.791
1       JHP-002                 acetone/methylene chloride (2:1)   0.969
2       JHP-003                                     acetonitrile   0.786
3       JHP-004                       acetonitrile/acetone (9:1)   0.787
4       JHP-005             acetonitrile/acetone/toluene (6:3:1)   0.796
5       JHP-006                      acetonitrile/methanol (1:1)   0.789
6       JHP-007                      acetonitrile/methanol (9:1)   0.787
7       JHP-008                       acetonitrile/water (70:30)    0.85
8       JHP-009                 benzene/methylene chloride (4:1)   0.964
9       JHP-010  methylene chloride/benzene/acetonitrile (2:2:1)   1.037
10      JHP-011                        dimethyl sulfoxide (DMSO)   1.101
11      JHP-012                                         dodecane    0.75
12      JHP-013                                    ethyl acetate   0.902
13      JHP-014                                           hexane   0.659
14      JHP-015                             hexane/acetone (1:1)   0.725

##### `SQL_EXPRESS [ODBC] Driver`

---
#### create `[conn_str]`

In [12]:
conn_str = str(
    r'DRIVER={ODBC Driver 13 for SQL Server};'
    r'SERVER=130.27.148.14\SQLEXPRESS,1433;'
    r'DATABASE=ProdFlowII_Dev;'
    r'UID=dbates;'
    r'PWD=@hisB00ty')

#### create `[cnxn]` from `[conn_str]`
#### create `[crsr]` from `[cnxn]`

In [13]:
try: #{
    # Use connection strings for all these drivers
    cnxn = pyodbc.connect(conn_str)
    crsr = cnxn.cursor()
#}
except: #{
    errorMessage = str(sys.exc_info()[0]) + "\n"
    errorMessage = errorMessage + str(sys.exc_info()[1]) + "\n\t\t"
    errorMessage = errorMessage + str(sys.exc_info()[2]) + "\n"
    exc_type, exc_obj, exc_tb = sys.exc_info()
    fname = os.path.split(exc_tb.tb_frame.f_code.co_filename)[1]
    typeE = str("TYPE : " + str(exc_type))
    fileE = str("FILE : " + str(fname))
    lineE = str("LINE : " + str(exc_tb.tb_lineno))
    messageE = str("MESG : " + "\n\n" + str(errorMessage) + "\n")
    print("\n" + typeE + 
          "\n" + fileE + 
          "\n" + lineE + 
          "\n" + messageE)
#}
else: #{
    print("FIN...")
#}

FIN...

## `cnxn.execute(<insert>)`

In [14]:
try: #{
    """
    c = conn.cursor()
    """
    # Create table
    crsr.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')
    # Insert a row of data
    crsr.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")
    # Save (commit) the changes
    cnxn.commit()
    # We can also close the connection if we are done with it.
    # Just be sure any changes have been committed or they will be lost.
    cnxn.close()
#}
except: #{
    errorMessage = str(sys.exc_info()[0]) + "\n"
    errorMessage = errorMessage + str(sys.exc_info()[1]) + "\n\t\t"
    errorMessage = errorMessage + str(sys.exc_info()[2]) + "\n"
    exc_type, exc_obj, exc_tb = sys.exc_info()
    fname = os.path.split(exc_tb.tb_frame.f_code.co_filename)[1]
    typeE = str("TYPE : " + str(exc_type))
    fileE = str("FILE : " + str(fname))
    lineE = str("LINE : " + str(exc_tb.tb_lineno))
    messageE = str("MESG : " + "\n\n" + str(errorMessage) + "\n")
    print("\n" + typeE + 
          "\n" + fileE + 
          "\n" + lineE + 
          "\n" + messageE)
#}
else: #{
    print("FIN...")
#}

TYPE : <class 'pyodbc.ProgrammingError'>
FILE : <ipython-input-14-641bcadaf18c>
LINE : 7
MESG :

<class 'pyodbc.ProgrammingError'>
('42S01', "[42S01] [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]There is already an object named 'stocks' in the database. (2714) (SQLExecDirectW)")
		<traceback object at 0x00000213FD5BB948>

---

# `pandas.DataFrame.to_sql()`
## *(INSERT FUNCTION)*

`testDf = inboundDataFrame.to_sql(name='DUMMY_2',` 

`con=cnxn, schema=None, `

`if_exists="append")`

`from sqlalchemy.types import Integer`

`df.to_sql('integers', con=engine, index=False,`

`dtype={"A": Integer()}`