# `SQL_EXPRESSS ODBC_select`
*(SQL_EXPRESS >> data)

---

## `SQL_SERVER` connects via `pyodbc`
## and read into a `PANDAS DataFrame`

---

In [1]:
# import the goodies
import os, sys, time

In [20]:
# import DATE-TIME
## used for file-convention_naming
import datetime

In [21]:
# CREATE TIME STAMP FOR FILE CREATION NAME
date_object = datetime.date.today()
time_object = str('{0:%m_%d_%Y-%H%M%S}'.format(datetime.datetime.now()))
print(str("file naming convention (today's example) :"), time_object)

file naming convention (today's example) : 05_23_2019-101125

In [2]:
import tkinter as tk
from tkinter import filedialog
from tkinter import messagebox

In [3]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [4]:
import pyodbc

In [5]:
from sqlalchemy.inspection import inspect

---

In [18]:
inDirectory = "C:/Temp/"

##### `SQL_SERVER [ODBC] Driver`

---
#### create `[conn_str]`

In [6]:
conn_str = str(
    r'DRIVER={ODBC Driver 13 for SQL Server};'
    r'SERVER=130.27.148.14\SQLEXPRESS,1433;'
    r'DATABASE=ProdFlowII_Dev;'
    r'UID=dbates;'
    r'PWD=@hisB00ty')

#### create `[cnxn]` from `[conn_str]`
#### create `[crsr]` from `[cnxn]`

In [7]:
try: #{
    # Use connection strings for all these drivers
    cnxn = pyodbc.connect(conn_str)
    crsr = cnxn.cursor()
#}
except: #{
    errorMessage = str(sys.exc_info()[0]) + "\n"
    errorMessage = errorMessage + str(sys.exc_info()[1]) + "\n\t\t"
    errorMessage = errorMessage + str(sys.exc_info()[2]) + "\n"
    exc_type, exc_obj, exc_tb = sys.exc_info()
    fname = os.path.split(exc_tb.tb_frame.f_code.co_filename)[1]
    typeE = str("TYPE : " + str(exc_type))
    fileE = str("FILE : " + str(fname))
    lineE = str("LINE : " + str(exc_tb.tb_lineno))
    messageE = str("MESG : " + "\n\n" + str(errorMessage) + "\n")
    print("\n" + typeE + 
          "\n" + fileE + 
          "\n" + lineE + 
          "\n" + messageE)
#}
else: #{
    print("FIN...")
#}

FIN...

---
# `cnxn.execute()`
~~*(DUMMY)*~~

In [8]:
try: #{
    # SQL COMMAND
    sql_query = cnxn.execute(
        "select * from [DUMMY]"
    )
    for row in sql_query: #{
        print(str(row))
    #}
#}
except: #{
    errorMessage = str(sys.exc_info()[0]) + "\n"
    errorMessage = errorMessage + str(sys.exc_info()[1]) + "\n\t\t"
    errorMessage = errorMessage + str(sys.exc_info()[2]) + "\n"
    exc_type, exc_obj, exc_tb = sys.exc_info()
    fname = os.path.split(exc_tb.tb_frame.f_code.co_filename)[1]
    typeE = str("TYPE : " + str(exc_type))
    fileE = str("FILE : " + str(fname))
    lineE = str("LINE : " + str(exc_tb.tb_lineno))
    messageE = str("MESG : " + "\n\n" + str(errorMessage) + "\n")
    print("\n" + typeE + 
          "\n" + fileE + 
          "\n" + lineE + 
          "\n" + messageE)
#}
else: #{
    print("FIN...")
#}

(1, 'Ball      ')
(2, 'Pen       ')
(3, 'Computer  ')
(4, 'Orange    ')
(5, 'Dog       ')
FIN...

---
# `pandas.read_sql_query`

In [15]:
"""
: param : CUSTOM SQL QUERY AS STRING
: return: Dataframe object containing SQL_EXPRESS data
"""
def read_sql_query_from_sqlexpress(theQuery, theConn): #{
    """Import data from SQL_EXPRESS; clean & merge dataframes"""
    # try the following
    try: #{
        df = pd.read_sql_query(
            sql=(str(theQuery)),
            con=(theConn))
    #}
    except: #{
        errorMessage = str(sys.exc_info()[0]) + "\n"
        errorMessage = errorMessage + str(sys.exc_info()[1]) + "\n\t\t"
        errorMessage = errorMessage + str(sys.exc_info()[2]) + "\n"
        exc_type, exc_obj, exc_tb = sys.exc_info()
        fname = os.path.split(exc_tb.tb_frame.f_code.co_filename)[1]
        typeE = str("TYPE : " + str(exc_type))
        fileE = str("FILE : " + str(fname))
        lineE = str("LINE : " + str(exc_tb.tb_lineno))
        messageE = str("MESG : " + "\n\n" + str(errorMessage) + "\n")
        print("\n" + typeE + 
              "\n" + fileE + 
              "\n" + lineE + 
              "\n" + messageE)
    #}
    else: #{
        print("FIN...")
    #}
    
    return df
#}

In [16]:
testDf = read_sql_query_from_sqlexpress(
    "SELECT * FROM [DUMMY]", cnxn
)

FIN...

In [17]:
testDf

   A           B
0  1  Ball
1  2  Pen
2  3  Computer
3  4  Orange
4  5  Dog

In [22]:
testDf.to_csv(inDirectory 
              + "_SQL_EXPRESS_2_df" 
              + str(time_object) 
              + ".csv",
              index=False)