In [1]:
import os, sys, time
from time import sleep
from pathlib import Path
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
qc_metrics_table = pd.read_csv("c:/data/inbound/2020-03-26/qc_metrics_table.csv",
                               index_col=0,
                               parse_dates=['QCDate', 'EntryDate', 
                                           'AmpDate', 'OriginationDate',
                                           'PrepDate', 'BulkQCDate', 'QCExpDate'],
                               dtype=np.str,
                               low_memory=False
                              )

In [3]:
# CHANGE 'AmpTimeOut' & 'AmpTimeIn' to TIMEDELTA columsn?
qc_metrics_table['AmpTimeIn'] = pd.to_datetime(qc_metrics_table['AmpTimeIn'])
qc_metrics_table['AmpTimeOut'] = pd.to_datetime(qc_metrics_table['AmpTimeOut'])

In [4]:
# CHANGE 'PfBatchID' to STRING
# Change data type of column 'Age' from int64 to string i.e. object type
qc_metrics_table['PfBatchID'] = qc_metrics_table['PfBatchID'].astype('object')
qc_metrics_table['ProductID'] = qc_metrics_table['ProductID'].astype('object')

### only get QCValidations of `1`, `2`, or `3`

In [5]:
value_list = ['1.0', '2.0', '3.0']

In [6]:
level_1 = ['1.0']
level_2 = ['2.0']
level_3 = ['3.0']

In [7]:
# GRAB DATAFRAME ROWS where COLUMN contains certain values
df_metrics_table = qc_metrics_table[qc_metrics_table['QCValidation'].isin(value_list)]

# THEN GRAB DATAFRAME ROWS for EACH PRODUCT LEVEL
self.df_level_1 = self.df_metrics_table[self.df_metrics_table['QCValidation'].isin(level_1)]
self.df_level_2 = self.df_metrics_table[self.df_metrics_table['QCValidation'].isin(level_2)]
self.df_level_3 = self.df_metrics_table[self.df_metrics_table['QCValidation'].isin(level_3)]

print("LEN OF (all levels) == " + str(len(self.df_daily_levels)))
print("LEN OF (#01 levels) == " + str(len(self.df_level_1)))
print("LEN OF (#02 levels) == " + str(len(self.df_level_2)))
print("LEN OF (#03 levels) == " + str(len(self.df_level_3)))
# CREATE << GROUPBY >> DATAFRAME
self.df_groupby_levels = pd.DataFrame(data=self.df_total_levels.groupby(['QCDate', 'QCValidation'])[['PfBatchID'].count()])
# TEST RESAMPLE ?
self.df_total_levels.set_index('QCDate').resample('W')['QCValidation'].mean()
# TEST WEIGHTED AVG ?

### only look at data for `specific time range`

In [8]:
# Select observations between two datetimes
# 2019-11-01
# to:
# 2020-03-01
df_metrics_obv = df_metrics_table[(df_metrics_table['QCDate'] > '2019-11-01') & (df_metrics_table['QCDate'] <= '2020-03-01')]

### How many `PfBatchID`, per `QCValidation`, per `QCDate`?

In [9]:
ProdsPerDay = df_metrics_obv.groupby(['QCDate', 'QCValidation'])[['PfBatchID']].count()

In [10]:
ProdsPerDay

                         PfBatchID
QCDate     QCValidation
2019-11-04 1.0                  16
           2.0                   1
           3.0                   2
2019-11-05 1.0                  23
2019-11-06 1.0                  16
...                            ...
2020-02-25 1.0                  29
2020-02-26 1.0                  26
           3.0                   4
2020-02-27 1.0                  27
2020-02-28 1.0                  28

[128 rows x 1 columns]

In [11]:
ProdsPerDay.to_csv("c:/data/outbound/2020-03-29/ProdsPerDay.csv")

---

In [12]:
# RESET INDEX ??

### Determine `days in QC`

In [13]:
# CREATE NEW DATAFRAME OFF OF 'PfBAtchID'
# (with index that of 'QCDate')
df_days_in_QC = pd.DataFrame(data=df_metrics_obv['PfBatchID'])

In [14]:
# CREATE ANOTHACOLUMN
df_days_in_QC['Date'] = df_metrics_obv['QCDate']

In [15]:
# CREATE ANOTHA COLUMN ONTO THAT DATAAFRAME
df_days_in_QC['QCValidation'] = df_metrics_obv['QCValidation']

In [16]:
# CREATE **FINAL** COLUMNS
df_days_in_QC['AmpDate'] = df_metrics_obv['AmpDate']

#### *calculation:*

In [17]:
calculation = (df_days_in_QC['Date'] - df_days_in_QC['AmpDate'])

In [18]:
# ASSIGN CALCULATION COLUMN
df_days_in_QC['QC_days'] = calculation

In [19]:
df_days_in_QC

       PfBatchID       Date QCValidation    AmpDate QC_days
81      NAB00352 2020-01-28          1.0 2020-01-28  0 days
157     NAB00632 2020-02-19          1.0 2020-02-05 14 days
203     NAB00648 2020-02-07          1.0 2020-02-05  2 days
294     NAA07318 2019-12-12          1.0 2019-12-11  1 days
444     NAA07336 2019-12-11          1.0 2019-12-10  1 days
...          ...        ...          ...        ...     ...
102425  NAA07294 2019-12-11          1.0 2019-12-09  2 days
102482  NAB00465 2020-01-31          1.0 2020-01-29  2 days
102519  NAB00122 2020-01-10          1.0 2020-01-09  1 days
104286  NAA06826 2019-11-11          1.0 2019-11-11  0 days
104348  NAA06588 2019-11-07          1.0 2019-11-06  1 days

[1876 rows x 5 columns]

#### change data-type of `QC_days` col

In [20]:
# df_days_in_QC['QC_days'] = qc_metrics_table['ProductID'].astype('object')
df_days_in_QC['QC_days'] = pd.to_timedelta(df_days_in_QC['QC_days'])

#### drop `na`

In [21]:
df_days_in_QC.dropna(subset=['QCValidation', 'QC_days', 'AmpDate'], inplace=True)

#### create column of type `int` ?

In [22]:
# assign new column to DATAFRAME
df_days_in_QC['Cycle_Time(days)'] = df_days_in_QC['QC_days'].dt.days

# empty list to hold data
days_ints = []

for row in df_days_in_QC['QC_days']: # {
    # TRY THE FOLLOWING
    try: # {
        """
        the_str = str(row)
        the_len = len(the_str)
        print("THE ROW:\n" + str(the_str))
        # get string index
        idx = the_str.find(' ', 0, the_len)
        # get value of days (in INTS)
        days_str = the_str[0:idx]
        print("DAYS:\t" + days_str)
        """
        print(row.dt.days)
    # }
    except: # {
        print("FAIL!")
    # }
    else: # { 
        print("Operation Completed Successfully...")
    # }
# }

# df_days_in_QC['QC-days-INT'] = df_days_in_QC['time-in-QC']

df_days_in_QC['QC-days-INT'] = df_days_in_QC['QC-days-INT'].astype('int')

#### to_csv

In [23]:
df_days_in_QC.to_csv("c:/data/outbound/2020-03-29/df_days_in_QC_pre_index.csv")

In [24]:
df_days_in_QC

       PfBatchID       Date QCValidation    AmpDate QC_days  Cycle_Time(days)
81      NAB00352 2020-01-28          1.0 2020-01-28  0 days                 0
157     NAB00632 2020-02-19          1.0 2020-02-05 14 days                14
203     NAB00648 2020-02-07          1.0 2020-02-05  2 days                 2
294     NAA07318 2019-12-12          1.0 2019-12-11  1 days                 1
444     NAA07336 2019-12-11          1.0 2019-12-10  1 days                 1
...          ...        ...          ...        ...     ...               ...
102425  NAA07294 2019-12-11          1.0 2019-12-09  2 days                 2
102482  NAB00465 2020-01-31          1.0 2020-01-29  2 days                 2
102519  NAB00122 2020-01-10          1.0 2020-01-09  1 days                 1
104286  NAA06826 2019-11-11          1.0 2019-11-11  0 days                 0
104348  NAA06588 2019-11-07          1.0 2019-11-06  1 days                 1

[1811 rows x 6 columns]

#### CHANGE INDEX

In [25]:
df_days_in_QC.set_index(['Date'], drop=True, inplace=True)

#### sort index

In [26]:
# SORT INDEX (in-place)
df_days_in_QC.sort_index(inplace=True)

In [27]:
df_days_in_QC.to_csv("c:/data/outbound/2020-03-29/df_days_in_QC.csv")

In [28]:
df_days_in_QC

           PfBatchID QCValidation    AmpDate QC_days  Cycle_Time(days)
Date
2019-11-04  NAA06635          1.0 2019-10-30  5 days                 5
2019-11-04  NAA06652          1.0 2019-10-31  4 days                 4
2019-11-04  NAA06627          1.0 2019-10-31  4 days                 4
2019-11-04  NAA06550          1.0 2019-10-29  6 days                 6
2019-11-04  NAA06638          1.0 2019-10-30  5 days                 5
...              ...          ...        ...     ...               ...
2020-02-28  NAB01120          1.0 2020-02-28  0 days                 0
2020-02-28  NAB01072          1.0 2020-02-28  0 days                 0
2020-02-28  NAB01093          1.0 2020-02-28  0 days                 0
2020-02-28  NAB01121          1.0 2020-02-28  0 days                 0
2020-02-28  NAB01076          1.0 2020-02-27  1 days                 1

[1811 rows x 5 columns]

### GroupBy:

In [29]:
# GET THE AVERAGE FOR EACH DAY, EACH PRODUCT LEVEL, For the CYCLE TIME !!!
# days_cycle = pd.DataFrame(data=df_days_in_QC.groupby("QCValidation")['Cycle_Time(days)'].resample("D").mean())
days_cycle = pd.DataFrame(data=df_days_in_QC.groupby("QCValidation").resample("D").mean())

In [30]:
days_cycle.to_csv("c:/data/outbound/2020-03-29/days_cycle.csv")

In [31]:
days_cycle

                         Cycle_Time(days)
QCValidation Date
1.0          2019-11-04          3.400000
             2019-11-05          1.304348
             2019-11-06          0.750000
             2019-11-07          1.838710
             2019-11-08          2.409091
...                                   ...
3.0          2020-02-22               NaN
             2020-02-23               NaN
             2020-02-24         23.000000
             2020-02-25               NaN
             2020-02-26         10.250000

[345 rows x 1 columns]

### get different levels of cycle

In [32]:
level_1s_days_cycle  = days_cycle.loc['1.0']
level_1s_days_cycle

            Cycle_Time(days)
Date
2019-11-04          3.400000
2019-11-05          1.304348
2019-11-06          0.750000
2019-11-07          1.838710
2019-11-08          2.409091
...                      ...
2020-02-24          1.846154
2020-02-25          2.275862
2020-02-26          2.192308
2020-02-27          0.520000
2020-02-28          0.703704

[117 rows x 1 columns]

In [33]:
level_2s_days_cycle = days_cycle.loc['2.0']
level_2s_days_cycle

            Cycle_Time(days)
Date
2019-11-04               3.0
2019-11-05               NaN
2019-11-06               NaN
2019-11-07               NaN
2019-11-08               NaN
...                      ...
2020-02-20               NaN
2020-02-21               NaN
2020-02-22               NaN
2020-02-23               NaN
2020-02-24             279.0

[113 rows x 1 columns]

In [34]:
level_3s_days_cycle = days_cycle.loc['3.0']
level_3s_days_cycle

            Cycle_Time(days)
Date
2019-11-04              9.00
2019-11-05               NaN
2019-11-06               NaN
2019-11-07               NaN
2019-11-08               NaN
...                      ...
2020-02-22               NaN
2020-02-23               NaN
2020-02-24             23.00
2020-02-25               NaN
2020-02-26             10.25

[115 rows x 1 columns]

## export to csv

In [35]:
level_1s_days_cycle.to_csv("c:/data/outbound/2020-03-29/level1s_cycle.csv")

In [36]:
level_2s_days_cycle.to_csv("c:/data/outbound/2020-03-29/level2s_cycle.csv")

In [37]:
level_3s_days_cycle.to_csv("c:/data/outbound/2020-03-29/level3s_cycle.csv")

In [38]:
total_products = df_days_in_QC.groupby("QCValidation").resample("M").mean()

In [39]:
total_products

                         Cycle_Time(days)
QCValidation Date
1.0          2019-11-30          2.460976
             2019-12-31          2.456410
             2020-01-31          3.429224
             2020-02-29          2.537698
2.0          2019-11-30         70.142857
             2019-12-31         65.416667
             2020-01-31        180.888889
             2020-02-29        769.333333
3.0          2019-11-30          7.200000
             2019-12-31          1.250000
             2020-01-31         14.666667
             2020-02-29         23.142857

#### Resample

In [40]:
df_days_in_QC.resample('D')['Cycle_Time(days)'].mean()

Date
2019-11-04     4.000000
2019-11-05     1.304348
2019-11-06     0.750000
2019-11-07     1.838710
2019-11-08     2.409091
                ...
2020-02-24    21.812500
2020-02-25     2.275862
2020-02-26     3.266667
2020-02-27     0.520000
2020-02-28     0.703704
Freq: D, Name: Cycle_Time(days), Length: 117, dtype: float64

----

value_list= ['1.0', '2.0', '3.0']
level_1 = ['1.0']
level_2 = ['2.0']
level_3 = ['3.0']

# GRAB DATAFRAME ROWS where COLUMN contains certain values
QC_total_levels = df_days_in_QC[df_days_in_QC['ProductLevel'].isin(value_list)]

# THEN GRAB DATAFRAME ROWS for EACH PRODUCT LEVEL
QC_level_1 = df_days_in_QC[df_days_in_QC['ProductLevel'].isin(level_1)]
QC_level_2 = df_days_in_QC[df_days_in_QC['ProductLevel'].isin(level_2)]
QC_level_3 = df_days_in_QC[df_days_in_QC['ProductLevel'].isin(level_3)]
print("LEN OF (all levels) == " + str(len(QC_total_levels)))
print("LEN OF (#01 levels) == " + str(len(QC_level_1)))
print("LEN OF (#02 levels) == " + str(len(QC_level_2)))
print("LEN OF (#03 levels) == " + str(len(QC_level_3)))
# CREATE << GROUPBY >> DATAFRAME
# [2020-3-29]\\df_groupby_levels = pd.DataFrame(data=QC_total_levels.groupby([QC_total_levels.index, 'ProductLevel'])[['PfBatchID'].count()])
# TEST RESAMPLE ?
QC_total_levels.resample('W')['ProductLevel'].mean()
# TEST WEIGHTED AVG ?

level_1s = df_days_in_QC.groupby(['ProductLevel', 'QC_days']).mean()

level_1s

#### ROLLING

df_days_in_QC['QC_days'].rolling(window=7).mean()