In [1]:
import sqlite3

### **CREATE/CONNECT TO DATABASE**

In [13]:
conn = sqlite3.connect('test.db')

### **CREATE** `contacts` **TABLE:**
- ID
- NAME
- EMAIL
- TYPE
- TIMESTAMP
- SENT

In [5]:
conn.execute('''CREATE TABLE contacts
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         EMAIL          CHAR(50)     NOT NULL,
         TYPE           CHAR(50)     NOT NULL,
         TIMESTAMP      TIMESTAMP    NOT NULL,
         SENT           BOOLEAN      NOT NULL);''')

### **INSERT INTO** `contacts` **TABLE OPERATION**

In [14]:
conn.execute("INSERT INTO contacts (ID,NAME,EMAIL,TYPE,TIMESTAMP,SENT) \
      VALUES (6, 'Larry Fitzgerald', 'fitzy@phoenix.edu', 'WEB', 2019-12-25, True)");

conn.execute("INSERT INTO contacts (ID,NAME,EMAIL,TYPE,TIMESTAMP,SENT) \
      VALUES (7, 'Michael Thomas', 'ixnay@hombre.com', 'WEB', 2019-10-26, True)");

conn.execute("INSERT INTO contacts (ID,NAME,EMAIL,TYPE,TIMESTAMP,SENT) \
      VALUES (8, 'Michael Thomas', 'ixnay@hombre.com', 'WEB', 2019-10-24, False)");

conn.execute("INSERT INTO contacts (ID,NAME,EMAIL,TYPE,TIMESTAMP,SENT) \
      VALUES (9, 'Larry Fitzgerald', 'fitzy@phoenix.edu', 'EMAIL', 2019-10-16, False)");

conn.commit()
print("Records created successfully")

### **SELECT FROM** `contacts` **TABLE**

In [14]:
conn.close()

Records created successfully