# `G:/C of A's/#Email Node/`
---

`2019_08_06` : Mary-Anne needs to send NTID for server access, she got the 3000 emails

---
#### *TEXT FILE TO SAVE PROGRESS:* `C:/CofA/log/CofA-backlog.txt`

In [2]:
import os, sys, time
from time import sleep
from pathlib import Path
import fnmatch, glob, shutil
import wmi, psutil
import tempfile, logging
import ctypes
import codecs
from clint.textui import progress

In [3]:
import email, smtplib, ssl
import os.path as op

from email import encoders
from email.mime.base import MIMEBase
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText
from email.utils import COMMASPACE, formatdate

In [4]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

### import save/backlog

In [31]:
in_file = "C:/CofA/log/CofA-backlog.csv"

In [32]:
df_backlog = pd.read_csv(in_file, 
                         header=None, 
                         names=['CofA'], 
                         dtype=np.str, 
                         engine='python')

In [29]:
len(df_backlog)

3241

**CREATE/SET as index**

In [33]:
idx = pd.Index(df_backlog['CofA'], dtype=np.str, name="CofA_Sent")

In [34]:
print(idx)

Index(['part RNA-034 CofA Lot# 0006481772.pdf',
       'part RNA-032 CofA Lot# 0006481941.pdf',
       'part RCC-180 CofA Lot# 0006481771.pdf',
       'part 061496-1 CofA Lot# 0006459560.pdf',
       'part 061496-2 CofA Lot# 0006459561.pdf',
       'part 52000 CofA Lot# 0006459935.pdf',
       'part 52000 CofA Lot# 0006464887.pdf',
       'part 52000 CofA Lot# 0006464888.pdf',
       'part 52000 CofA Lot# 0006481325.pdf',
       'part 55400 CofA Lot# 0006459936.pdf',
       ...
       'part WRK-155L CofA Lot# 0006462672.pdf',
       'part WRK-155M CofA Lot# 0006462673.pdf',
       'part WRK-155N CofA Lot# 0006462674.pdf',
       'part WRK-155O CofA Lot# 0006462675.pdf',
       'part WRK-155P CofA Lot# 0006462676.pdf',
       'part WRK-155Q CofA Lot# 0006462677.pdf',
       'part WRK-155R CofA Lot# 0006462678.pdf',
       'part WRK-155S CofA Lot# 0006462679.pdf',
       'part Z700002341S CofA Lot# 0006462700.pdf',
       'part ZWAT042881SA-1 CofA Lot# 0006469294.pdf'],
      dtype='object', name='CofA_Sent', length=3241)

**SCAN `G:/C of A's/#Email Node/`**

In [35]:
cofa_list = os.listdir("G:/C of A's/#Email Node/")

In [37]:
print(cofa_list[12])

part ALD-556X CofA Lot# CT-1415.pdf

In [41]:
clean_cofa_list = []

for cofa_item in cofa_list: #{
    the_str = str(cofa_item)
    the_len = len(the_str)
    # CHECK IF PDF
    if fnmatch.fnmatch(the_str, "*.pdf"): #{
        clean_cofa_list.append(the_str)
    #}
    else: #{
        print("NO DICE")
        print(the_str)
    #}
#}

NO DICE
Thumbs.db

In [43]:
# GET STATS OF WEIRD .db file
print(str(os.stat("G:/C of A's/#Email Node/Thumbs.db")))

os.stat_result(st_mode=33206, st_ino=281474977358691, st_dev=2019411629, st_nlink=1, st_uid=0, st_gid=0, st_size=105472, st_atime=1559163283, st_mtime=1559933077, st_ctime=1559163283)

**LOOP THRU `set_diff_df`**

In [ ]:
for row in set_diff_df.

### `pd.to_csv(mode='a')`

---

In [5]:
df_test = pd.read_csv("append_test1.csv", header=None, dtype=np.str, engine='python')

In [6]:
df_test

          0
0  aaaaaaaa
1  aaaaaaaa
2  aaaaaaaa

In [8]:
new_row = pd.Series(data="heyyyy")

In [9]:
df_test.append(new_row, ignore_index=True)

          0
0  aaaaaaaa
1  aaaaaaaa
2  aaaaaaaa
3    heyyyy

In [11]:
new_df = df_test.append(new_row, ignore_index=True)

In [12]:
new_df

          0
0  aaaaaaaa
1  aaaaaaaa
2  aaaaaaaa
3    heyyyy

In [13]:
new_row

0    heyyyy
dtype: object

In [17]:
new_row.to_csv("append_test1.csv", header=None, index=False, mode='a')

C:\Users\derbates\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [21]:
new_row.to_csv("Untitled 1.csv", header=False, index=False, mode='a')

In [26]:
newer_row = pd.Series(data="part CUS-27068 CofA Lot# 0006474285.pdf")

In [27]:
newer_row.to_csv("Untitled 1.csv", header=False, index=False, mode='a')